<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<!-- 핵심기능 5단 출력 -->
	<bean class="spring03.aop.ex.PrintFiveDanOnePerSec" id="fiveDan"/>

	<!-- 공통기능 -->
	<bean class="spring03.aop.ex.MyAspect" id="myAspect"/>
	
	<aop:config>
		<aop:aspect ref="myAspect">
			<aop:pointcut expression="execution(public String *.printFiveDan())" id="myPt"/>
			<aop:before method="beforeTime" pointcut-ref="myPt"/>
			<aop:after method="afterTime" pointcut-ref="myPt"/>
			<aop:after-returning method="afterReturnTime" returning="msg" pointcut-ref="myPt"/>
			<aop:after-throwing method="afterThrowTime" throwing="th" pointcut-ref="myPt"/>
		</aop:aspect>
	</aop:config>

</beans>
